@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-controller="Home" asp-action="Country"> Country</a> ||
        <a asp-controller="Home" asp-action="StateIndex"> City</a>||
        <a asp-controller="Home" asp-action="CasCadingList"> Cascade List</a>||
        <a asp-controller="Home" asp-action="addState"> Add State</a>||
        <a asp-controller="Home" asp-action="addcountry"> Add  Country</a>||




    </div>
